In [ ]:
#W2A1
print("Hello World!")

Hello World!

In [9]:
#W2A2
print("Xin chào :",input())

Nhung
Xin chào : Nhung

In [11]:
#W2A3
a=int(input())
b=int(input())
number=a/b
print("Tổng 2 số là:",a+b,
      "Hiệu hai số là:",a-b,
      "Tích hai số là:",a*b,
      "Phần nguyên của phép chia hai số là:",a//b,
      "Phần dư của phép chia hai số là:",a%b,
      "Thương của hai số là:",f"{number:.2f}")

5
3
Tổng 2 số là: 8 Hiệu hai số là: 2 Tích hai số là: 15 Phần nguyên của phép chia hai số là: 1 Phần dư của phép chia hai số là: 2 Thương của hai số là: 1.67

In [ ]:
#W2A4
a1,b1,c1,a2,b2,a3= map(float,input().split())
TB=((a1+b1+c1)+(a2+b2)*2+a3*3)/10
print("Điểm trung bình 6 môn học",f"{TB:.1f}")

1 2 3 4 5 7
Điểm trung bình 6 môn học 4.5

In [ ]:
#W2A5
a,b=map(int,input().split())
print(a**b)

2 3
8

In [ ]:
#W2A6
kt=input()
kthoa=kt.upper()

print("kí tự Unicode tương ứng là:",ord(kt),","
      "kí tự hoa tương ứng:",kthoa)

a
kí tự Unicode tương ứng là: 97 ,kí tự hoa tương ứng: A

In [ ]:
#W2A7
A=((13**2)*3)+5
B=13**2*3+5
print(A,B)

512 512

In [ ]:
#W2A8
C=float(input())
F=9/5*C+32
print("Nhiệt độ Fahrenheit là:",f"{F:.2f}")

30
Nhiệt độ Fahrenheit là: 86.00

In [ ]:
#W2A9
x=float(input())
money=x*0.3+x*0.1+10
print("Số tiền Đạt phải trả là:",f"{money:.2f}","USD")

4
Số tiền Đạt phải trả là: 11.60 USD

In [5]:
#W2A10
a, b, c = input("Nhập tên: ").split()
print(f"Hi: {c}, {b}, {a}")

Nhập tên: Bob Alice HElen
Hi: HElen, Alice, Bob

In [ ]:
#W2A11
h=int(input())
m=int(input())
s=h*3600+m*60
print("số giây là:",s)

2
3
số giây là: 7380

In [ ]:
#W2A12
n=int(input())
number=6*(n**2)
print("Số lượng miếng dán riêng lẻ là:",number)

3
Số lượng miếng dán riêng lẻ là: 54

In [ ]:
#W2A13
a=int(input())
b=int(input())
number=(a*b)%10
print("hàng đơn vị của phép nhân tích",number)

3
4
hàng đơn vị của phép nhân tích 2

In [ ]:
#W2A14
a=int(input())
b=int(input())
a,b=b,a
print(a,b)

2
3
3 2

In [3]:
#W2A15
n=int(input())
print("số sao thứ",n,"là:",6*n*(n-1)+1)

3
số sao thứ 3 là: 37

In [ ]:
#W2A16
print("Spring")
print("Summer")
print("Autumn")
print("Winter")

Spring
Summer
Autumn
Winter

In [8]:
#W2A17
for i in range (1,6,2):
  print("*"*i)

*
***
*****

In [ ]:
#W2A18
print("### # #  ### ###")
print(" #  #  #  #   #")
print(" #  #   # #   #")
print(" #  #  #  #   #")
print(" #  # #   #   #")
#print('''###########
  )

### # #  ### ###
 #  #  #  #   #
 #  #   # #   #
 #  #  #  #   #
 #  # #   #   #

In [ ]:
#W2A19
print("Monday\nTuesday\nWednesday\nThursday\nFriday\nSaturday\nSunday")

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [ ]:
#W2A20
print('''January
February
March
April
May
June
July
August
September
October
November
December''')

January
February
March
April
May
June
July
August
September
October
November
December
January
February
March
April
May
June
July
August
September
October
November
December

In [ ]:
#W2A21
for i in range(1,11):
  print("Hello,World")

Hello,World
Hello,World
Hello,World
Hello,World
Hello,World
Hello,World
Hello,World
Hello,World
Hello,World
Hello,World